---
title: Across the Riachuelo
chapter: ch1
slug: 9across
date: 2003-07-08
---
#linkBox{:align => "center"}
  %a{:href => "8sin_rumbo.htm", :target => "_top"}> &lt;  Back
   
  %font{:color => "#000000"}
    | 
    %a{:href => "1tc_title.htm", :target => "_top"} Chapter Index
     
    %font{:color => "#000000"} | 
  = succeed "\u{a0}" do
    %a{:href => "../index.htm", :target => "_top"} Home Page
  %font{:color => "#000000"} | 
  %a{:href => "10interview.htm", :target => "_top"} Next  &gt;
#header.tcHead
  .header{:align => "left"}
    %span.headerChapter Chapter 1 |
    %span.style7
      %span.headerTitle Reports from 2003
.picholder
  %img{:alt => "Riachuelo", :height => "210", :src => "tc_pics/image014.jpg", :width => "300"}/

#Content
  %p.paragraphHeader A trip to the other side
  :markdown
    *July 8, 2003:*
    In my part of the U.S. the Mexicans use the phrase
    *“Es un hombre del otro lado”*
    to refer to someone who lives on the 'other side' of the frontier,
    in Mexico.
    In BsAs they use a similar phrase, meaning the other side of the page. 
    It means the down neighborhood, the *“barrio, barrio”* ...
    = succeed ".\u{a0}Last" do
      %em “arrabal”
    = succeed "," do
      %em Avellaneda
    = succeed "," do
      %em La Provincia de Buenos Aires
    %em Riachuelo
    River to the south of the city, where today there are few remaining tango clubs. When our taxi got near our destination, the driver locked the doors, and said, “It's dangerous. Don't walk here.” But this may have been a bit overstated. We know people who live here and they walk around all the time. A few minutes later we arrived at
    %em Club Leales y Pampeanos
    where
    = succeed "milonga" do
      %em “Un Cacho de Tango”
    = succeed "," do
      %em El Beso

    Admission to *Un Cacho* is one peso (about 35 cents U.S.), and that's
    all that many of these people can afford to pay. 
    But although they don't have much money, the have other things. 
    Your peso gets you a seat at a table with bowls of free mate, sugar,
    and thermos jugs of hot water... and one of the best atmospheres in
    Argentina for dancing tango. 
    It has a different feel from any of the other places we've been. 
    The name of the club is a play on words, meaning “a piece of tango”,
    and it also refers to Cacho, the organizer of the milonga, who used
    to be a stage tango performer (you can see Cacho sitting at Copes’
    table in the club scene in Saura’s movie
    = succeed ").\u{a0}Like" do
      %em Tango
    = succeed "," do
      %em El Centro
    = succeed "teams" do
      %em fútbol
    = succeed "," do
      %em Boca Jr., Independiente
    %em River Plate
    on the walls. 

    We met our friend Nestor Serra, a milonguero from the neighborhood,
    and his partner Cristina there. 
    Nestor is a retired dockworker, with the heart of a poet. 
    One of his handwritten poems is framed in Alejandra's house, and it
    was Nestor who had picked us up at the airport when Alejandra's
    children (a busy doctor, and a busy lawyer) couldn't get away from
    work to meet us.

    Cacho´s is a barrio milonga where some rock and salsa tandas are
    mixed in with the tango. 
    I did some filming of the dancers, and of the walls, where there
    were pictures of old time dancers and musicians, including, it
    seemed to me, a lot of pictures of Carlos Gardel (It turns out there
    was a reason for this). 
    And, as if to confirm my suspicion that life is really nothing more
    than a comic opera, there was also a full color picture of
    “the Worm”, Dennis Rodman, in his Chicago Bulls uniform, conspicuously
    on display.

    We sat, and I got a chance to impress the locals. 
    Someone asked what orchestra was beginning to play at the start of the
    tanda. 
    Almost without thinking I said ,
    = succeed "\u{a0}The" do
      %em “Es Biaggi?”
    = succeed "\u{a0}This" do
      %em “Si, es Biaggi!”
    = succeed "," do
      %em Corazon de Oro
    = succeed "," do
      %em “en el compás”
  %p
    Again, I was lucky. 
    *Corazon* is a *vals* that is very familiar to me, although the
    version I know well is a different one by *Quinteto Pirincho*
    (Canaro's orchestra). 
    I know it because of something from last year. 
    I was filming in *Celia's*,
    %em vals
    on film. 
    She said, well the best dancer of *vals* (other than Tete) is here
    right now, across the room. 
    She was referring to Gerard, from France, who is possibly the only
    foreigner in the world accepted by the milongueros as one of their own. 
    He can be a bit difficult, and refuses to be filmed. 
    But she did something amazing. 
    First, she went to the DJ booth and said something to Dany, and then
    she went across the floor to Gerard. 
    I saw them gesturing, and he was shaking his head. 
    She laughed, pointed her finger at him, and came back across the room. 
    A *vals* tanda immediately began, and Gerard came across to
    Alejandra’s table. 
    I then filmed them dancing three of the most beautiful *valses*
    I have ever seen. 
    The second was
    = succeed "," do
      %em Quinteto Pirincho's Corazon
    = succeed ".\u{a0}As" do
      %em Desde el Alma

  %p.paragraphHeader
    %font{:color => "#000000"} ****
  :markdown
    So, last night we sat in Cacho's milonga, and I found I was getting up
    to dance the same tandas as Nestor. 
    We both like *tango picado*
    and
    = succeed "," do
      %em vals
    %em “tango sencillo”
    or
    = succeed "\u{a0}This" do
      %em “tango liso”.
    %em “tango cruzado”
    or
    = succeed "In" do
      %em “tango con cortes”

    I will note that when I came down here with Alejandra on this trip,
    I thought the clubs would not be crowded, since it is the winter
    off season, the economy is still bad, and we are going to places off
    the beaten track. 
    I am happy to report that the opposite is true. 
    Every place we have been has been very well attended, with many
    actually too crowded for comfortable dancing. 
    Tango is alive and thriving.

    After a couple of hours, *Un Cacho de Tango* began to really fill
    with people, and Cacho, who is a character and a showman, took the
    microphone and worked the crowd into a frenzy, with a rant about
    *River Plate* being better than *Baca*.
    Then
    = succeed "\u{a0}While" do
      %em “Que bailen! Que bailen! Que bailen!”
    %em El Beso
    with his partner, Eladia Cordoba. 
    I tried to get out of it, but I couldn't. 
    This was not a good experience for me, and I didn't dance well at all. 
    I have a copy of the film, and I have never  looked at it. 
    And while I have performed tango a few times (mostly as  a favor to
    friends at things like weddings and benefits and such), I really
    feel that performing is a slippery slope that leads in a tango
    direction I don't want to take.
    So anyway,  here I am standing in a club in *el arrabal de Avellaneda*
    with several hundred *Porteños* chanting *“Que bailen!”*.

  %p.paragraphHeader
    %font{:color => "#000000"} ****

  :markdown
    Well, the truth is, no one can make you dance tango if you don't want to.
    So I just said sorry, but no. I can't do it. 
    The crowd settled down, and Cacho took them on to other things, but
    then I began to feel bad.
    Especially when Nestor told me something later that touched me. 
    I told him I didn't want to insult them by declining, but I know they
    were just trying to be polite. 
    Nestor said, no,  these people really did want me to dance. 
    He said for you to come to this club from the U.S. and show such an
    interest in the club and to dance to their music is special for them. 
    He said,  “xxxx (a famous old dancer of the stage) could dance here,
    and no one would pay attention. 
    But they are very interested in you.” 

    Because of Cacho's joking, a shy old couple came up and ask me if I
    could take a picture of them dancing. 
    Alejandra explained that my camera was different, and it didn't
    take photographs. 
    Then I thought, since it was digital, there might be a way to get a
    photograph printed from it. 
    They asked about the cost, and of course we told them we wouldn't
    charge them for it. 
    During these negotiations I noticed something funny going on. 
    They were both very sweet and smiling, but when the little man
    would start to speak, the lady would give him a secret poke in the
    ribs with her elbow, as if to say, “Be quiet, I know how to deal with
    these rich people. 
    I don't want you opening your mouth to mess things up.”

    This club is very old. 
    A bit later, Nestor got the small aging custodian, and he found a key,
    unlocked a door, and took us up some cluttered stairs. 
    In the room above, you could see words painted on the wall:
    = succeed ".\u{a0}It" do
      %em “Pulperia Leales…1903”
    %em “Rancho”
    (I'm not sure what that is), and then later it became the neighborhood
    club it is today, after the city finally  surrounded it.

    Mounted high on the wall in this small upstairs room is something
    unique and special, and the old custodian is very proud of it. 
    It's called, an
    %em “Escudo Nacional con la Bandera Argentina y Laureles”
    and it's not easy to describe. 
    It is a huge, ornate picture frame with glass, and inside it is
    about a foot deep. 
    It contains a work that is like a large intricate three-dimensional
    sculpture or emblem made of gold thread, and sewn white and pale
    blue silk fabric, that represents Argentina. 
    I can't really describe it, but it is stunning and spectacular, and
    it literally took thousands of hours to make. 
    A total of only three were made using a tremendous amount of tedious
    labor from hundreds of prison inmates in
    = succeed "One" do
      %em la prision de Villa Devoto.
    = succeed "," do
      %em Casa Rosada
    %em Congreso
    building (which is like our combined Congress and Senate). 
    In the U.S. something like this would be priceless, and guarded day
    and night, but here this masterpiece hangs, mostly ignored in this
    old room above the club. 
    Then the custodian found a key to a very cluttered office with poor
    light, and we went in to look for something else. 
    We rummaged around for a while, and I was the one to find it. 
    I climbed over some old furniture, and on the back wall, among
    yellowing pictures of gauchos, and formations of soldiers,
    I found a picture of a group of some of the early club members,
    sitting sternly in their 1920's suits, in what looks like the very
    same office we are in. 
    It's well known that the history and roots of tango are closely tied
    to working class people in clubs like this one, and here was
    something very interesting.
    Sitting among the early members of this very club is a young
    Carlos Gardel, smiling his entertainers' smile. 
    %em Leales y Pampeanos
    was his club!
    And years later when he was killed in a plane crash in Colombia,
    his body would be  returned to Argentina draped in a shroud made by
    its members.
    So I think for me to perform tango here, in this place, before these
    people, would have been almost impossible. 


#linkBox{:align => "center"}
  %a{:href => "8sin_rumbo.htm", :target => "_top"}> &lt;  Back
   
  %font{:color => "#000000"}
    | 
    %a{:href => "1tc_title.htm", :target => "_top"} Chapter Index
     
    %font{:color => "#000000"} | 
  = succeed "\u{a0}" do
    %a{:href => "../index.htm", :target => "_top"} Home Page
  %font{:color => "#000000"} | 
  %a{:href => "10interview.htm", :target => "_top"} Next  &gt;
#footer.tcHead
  %div{:align => "left"}
    %span.chapter
      %font{:color => "#333333"} Chapter 1 |
    %font.footerPage{:color => "#080808", :face => "Georgia, Times New Roman, Times, serif", :size => "-1"} Page 9
