---
title: Losing it
chapter: ch1
slug: 11soul
date: 2003-07-14
---
#linkBox{:align => "center"}
  %a{:href => "10interview.htm", :target => "_top"}> &lt;  Back
   
  %font{:color => "#000000"}
    | 
    %a{:href => "1tc_title.htm", :target => "_top"} Chapter Index
     
    %font{:color => "#000000"} | 
  = succeed "\u{a0}" do
    %a{:href => "../index.htm", :target => "_top"} Home Page
  %font{:color => "#000000"} | 
  %a{:href => "12uruguay.htm", :target => "_top"} Next  &gt;
#header.tcHead
  .header{:align => "left"}
    %span.headerChapter Chapter 1 |
    %span.style7
      %span.headerTitle Reports from 2003
#Content
  %p.paragraphHeader
    %br/
    Soul of the Tango
  %h3
    What do the rich people know?
    %br/
    What do they know about tango?
    %br/
    What do they know about the 'compás'?
  %p  
  %p{:align => "center"}
    %em July 14, 2003:
    Most of us know that tango dancing is about music and feelings. But here is something I believe strongly: It is not about just any music, and it is not just about any feelings. After my recent immersion in the old clubs of Buenos Aires, especially the ones in the poorer neighborhoods, I am more certain of this than ever before. Argentine tango dancing is about a very specific type of old music—music from a certain place, and a certain time, sung and played by certain artists. And it's about the feelings that listening to this music elicits. But not just any feelings! This is important. These feelings should be the ones a
    %em porteño
    has when dancing to this music. To understand this music, and to dance to it, you should try very hard to get as close as possible to those feelings.
  %div{:align => "center"}
    \.
    %img{:alt => "Norberto Frascone y Victoria ", :height => "164", :src => "../image_files/face1.jpg", :width => "495"}/
    %br/
    %br/
  %p
    It is the job of any foreigner (or
    %em Porteño
    for that matter) who wants to dance tango well, to search for this experience. Not to feel the music in terms of his own culture, or to try to take some of the “steps” of tango and dance them to some other music. You are welcome to do this, of course. And it may be fun and creative... and maybe even beautiful. But you will not be dancing Argentine tango if you do.
  %p
    Why? Because the people who wrote this music, and the poetic words that go with much of it, are from the world of the Buenos Aires milongas. The things they are saying come from that world, and were written for it. Their words have the smell of the old clubs, and of the
    %em arrabal
    where they were written. They went to the milongas, and hung out and danced with the people there. The words and music they wrote are about struggling with life and survival, and love and loneliness in old time Buenos Aires.  They affected the people in the milongas and the ways they danced, and more importantly the people and their dancing affected what they wrote and the way they played the music. These are the things you are supposed to feel when you dance tango.
  %p How do I know the people affected the creators of the music, as much as the music affected the people? Here is one (of many) small clues. I just saw an interview of Pugliese's widow on TV Solo Tango. She said that if you watched closely when he played at milongas, you could see that he was always watching the feet of the dancers. He was talking to them with his music, but they were also talking back... and he was listening. Her point was that what he saw in the clubs became part of his music.
  %p So tango is a special kind of music, with special feelings, and probably, to be complete, with feelings that are shared together within the atmosphere of the milongas of BsAs. Or at least in an atmosphere as much like them as possible. Take something away, or change it, or add something new, and there's a good chance you'll lose it.
  %p
    If you accept the premise that a big part of dancing tango is to search for these feelings, then how do you do it? Not everyone can fly off to BsAs and spend months in the clubs, so here is one practical suggestion. I would suggest learning a little about some of the lyrics. This isn't easy because most of them are written in turn of the century BsAs street slang, with their meanings buried beneath metaphor and poetic construction. The words may refer to things within this inner world, some of which no longer even exist. It takes a little work, but sometimes the words  pack as much beauty and emotional power as the music itself. Sometimes even more. The Argentines know that these words can stand alone on their own artistic merit, even apart from the music. So I suggest beginning by selecting one piece with lyrics, a piece that you especially like to dance to, but maybe don't understand. Then find out something about those lyrics. Not much, just the meaning of the title, and maybe the meaning of the first line or two. It's surprising how much feeling you will get from this small thing. The song should change a bit for you, but it will be an important change, and ultimately, the song will mean more. [Note—in 2007, I  added a chapter with  detailed discussions of  the lyrics and music of some of the most popular tangos:
    = succeed "]" do
      %a.linkText{:href => "../chapt_4music/1music_title.htm", :target => "_top"} Chapter 4: "Cracking the Code"
  %p
    So, some time you may really have it together, dancing in the music and knowing what the song is about. Maybe it's about some poor guy who got stabbed in a whorehouse in
    = succeed "," do
      %em Floresta
    = succeed ").\u{a0}And" do
      %em Farol
    %em arrabalero
    accent, “
    %em> De que barrio sos?
    ” “What neighborhood are you from?” If he uses those words, in that way, it is very likely that you have been dancing tango
  %p
    One more thing. You may wonder what an
    %em arrabalero
    accent is. It is an accent of the “down” neighborhoods. An accent of the poor. The words I wrote at the beginning of this piece are spoken in the drawn out version of castellano called
    = succeed ".\u{a0}Actually," do
      %em arrabalero
    %em arrabalero
    accent of Alberto Castillo singing with Tanturi's orchestra. Most of us in tango have heard it many times. The words come from the people of the poor southern neighborhoods, from the heart of tango. They are talking about the rich people to the north, downtown. Today, they may apply as well to some even richer people, much farther to the north. This is not a precise scholarly translation, but you don't want one for tango dancing anyway. Here is the general idea:
  %blockquote
    %blockquote
      %p
        %em
          What do the rich people know?
          %br/
          What do they know about tango?
          %br/
          What do they know about the pulse, the rhythm?
          %br/
          Here is how you dance the tango,
          %br/
          Painting pictures with your feet,
          %br/
          With the blood rising in your face to the music...
          %br/
          With your eyes closed to hear better...
          %br/
          All mixing in each partner’s breath.
  %p
    The title of the song is, “
    %em> Asi se Baila el Tango
    ”. A very direct and practical title. It means, “This is how you dance the tango.”
  %p.paragraphHeader Losing It
  %p
    %em> Güemes Street, Buenos Aires, Argentina, July 15, 2003, 1:38 am
    \: What I am writing tonight is unauthorized. My previous posts have been, for the most part, a team effort. Alejandra's contribution has been from beginning to end. She translates this maddening language for me, I pick her brain about tango, and then she reads everything I write and cleans it up. A voice of reason. But I hate reason. I am sitting here in my underwear in a very bad mood. She takes all the good stuff out of my writing. She emasculates it. Bowdlerizes it. Takes out everything interesting. You wouldn't believe how much trouble I would be in if my ego and bile were allowed to vent unchecked in public, on this list. I couldn't return to the U.S. I would be attacked the minute I walked into the milongas down here. But she reads, and says calmly, “You cannot say that. It is very aggressive.” Or, “When did that happen? It never happened.” Well in my mind, those things happened. So tonight, watch out. I am writing uncensored. And worse, with a couple of drinks under my belt. Or better. Down here they call them 'dstornridlooe'. Or something like that. It means 'screwdriver'. They don't drink much here, but beware of the mixed drinks. So I sat in
    %em Plaza Borges
    tonight, outside in the rain, and had two distorn. Very strong ones. But at least the air was finally clean. Each drink must have had at least 3 shots of vodka in a tall glass of fresh squeezed OJ. But I had to get out of the house. My cigarette induced cough has turned into some kind of strange immune system revolt that causes my lungs to cease up every time I smell almost anything. Perfume, cleaning products, car exhaust, food frying. And try to get around in this city of almost 20 million souls living stacked one on top of another and avoid those things. Walk down a sidewalk, and someone will be walking in front of you sucking on a cigarette like a drowning man gasping for air. The cars and buses, never more than a few feet away, will be spouting exhaust. The
    %em parrillas
    will be spewing wood smoke. And I am still not sleeping well.
  %p
    Enough. What I want to talk about is Alejandra. We have been cooped up in this small eighth floor apartment in
    = succeed "," do
      %em Palermo
  %p
    I am a little tired of these guys down here who have made it big in tango, and don't dance any more. They sit at their tables with their entourages and troll for tourists. And when someone with a little status comes in, they finally get enough energy to decide, well, maybe I'll get up and dance  to show off. We were in
    %em Porteño y Bailarin
    last week (English translation: Wolf and Caribou) and a couple of them were sitting at tables next to the floor. I thought I kept noticing each of them watching us dance, but I just thought they were just transfixed by my expertise. My
    = succeed ".\u{a0}Taking" do
      %em pinta
  %p Here comes Alej now to check on my writing. Time to click the 'send' button, and shut down.
  %p  
  %p  
#linkBox{:align => "center"}
  %a{:href => "10interview.htm", :target => "_top"}> &lt;  Back
   
  %font{:color => "#000000"}
    | 
    %a{:href => "1tc_title.htm", :target => "_top"} Chapter Index
     
    %font{:color => "#000000"} | 
  = succeed "\u{a0}" do
    %a{:href => "../index.htm", :target => "_top"} Home Page
  %font{:color => "#000000"} | 
  %a{:href => "12uruguay.htm", :target => "_top"} Next  &gt;
#footer.tcHead
  %div{:align => "left"}
    %span.chapter
      %font{:color => "#333333"} Chapter 1 |
    %font.footerPage{:color => "#080808", :face => "Georgia, Times New Roman, Times, serif", :size => "-1"} Page 11
