---
title: Night of the milongueras
chapter: ch1
slug: 14noche
date: 2003-08-07
---
#linkBox{:align => "center"}
  %a{:href => "13celia.htm", :target => "_top"} &lt;  Back
   
  %font{:color => "#000000"}
    | 
    = succeed "\u{a0}" do
      %a{:href => "1tc_title.htm", :target => "_top"} Chapter Index
    %font{:color => "#000000"} | 
  %a{:href => "../index.htm", :target => "_top"} Home Page 
  %font{:color => "#000000"} | 
  %a{:href => "15tete.htm", :target => "_top"} Next  &gt;
#header
  .header{:align => "left"}
    %span.headerChapter Chapter 1 |
    %span.style7
      %span.headerTitle Reports from 2003
#Content
  %p.paragraphHeader
    %em
      %br/
      La Noche de las Milongueras
  %p
    %em August 7, 2003:
    Last night I almost didn't take the camera along to
    = succeed "," do
      %em Sin Rumbo
    = succeed ".\u{a0}They" do
      %em La Noche de las Milongueras
    %em Obsession
    and she's also been in others. Portalea was also there—he’s one of the great old milongueros who danced in
    = succeed ".\u{a0}In" do
      %em Tango, Baile Nuestro
    = succeed "\u{201d}," do
      %em El Chino
  %p
    Margaret and
    %em El Chino
    danced alone on the floor, and then Margaret danced with another man, and
    %em El Chino
    asked Alejandra to dance (through me). While I was moving around the floor filming them, a woman touched my arm, and said in
    = succeed "," do
      %em castellano
    %em El Chino
    (maybe he studied him), and I also filmed Sra. Zotto dancing (the mother of the other famous brothers). Then I filmed two little kids who came in to perform for the older generation, representing the future of tango, and they were fun to watch.
  %p
    %img.floatLeft{:alt => "Alej and El Chino", :height => "188", :src => "tc_pics/image017.jpg", :width => "200"}>/
    In an earlier report I said that it is by editing your writing that you give it meaning. And I said that this applies to tango dancing as well. That was pretty smart! I must have been drinking when I wrote that. From a million steps, you must decide not only what to do when the music begins, but also what to leave out! Here is an interesting example. When Alejandra danced with
    = succeed "," do
      %em El Chino
    %em El Chino
    chooses to express the music with stillness, by doing nothing with his upper body. Less is more! For me, he has added meaning by editing out movement. This focuses attention on his feet, and he is the master of the feet! 
  %p.paragraphHeader
    %font{:color => "#333333"} ****
  %p
    Many years ago, on the back wall of
    = succeed "," do
      %em Club Sin Rumbo
    %em Recoleta
    in large fancy halls like the
    = succeed ".\u{a0}Imagine" do
      %em Palais de Glace
    = succeed ".\u{a0}Laurenz" do
      %em Sin Rumbo
    %em Como dos Extraños
    or
    = succeed ".\u{a0}Troilo" do
      %em Vieja Amiga
    %em Yo Soy el Tango
    or
    = succeed ".\u{a0}They" do
      %em Tristezas
    = succeed "." do
      %em Sin Rumbo
  %p
    One of the other names on the wall is not so famous. The name “Aieta” painted in small brown letters refers to Anselmo Aieta, who had an orchestra that was rarely recorded. Someone wrote from the list to ask me to try and track down a CD, so I went to see Oscar. He works in a small cluttered room on the 5th floor of an office building at 123
    = succeed "," do
      %em Parana
    = succeed ".\u{a0}On" do
      %em Plaza Congreso
    = succeed "," do
      %em guardia vieja
    = succeed "," do
      %em Orquesta Victor
    = succeed ".\u{a0}It's" do
      %em Orquesta Minoto
    = succeed "." do
      %em Sin Rumbo
  %p
    I told Oscar I would write about him on the website. Some of you may already be familiar with Oscar, but in case you're not, here he is: Website: www.clubdetango.com.ar  Email (Write in Spanish): clubdetango@sinectis.com.ar He is a one-man operation who publishes a magazine, and runs the business. BsAs has two main tango magazines,
    = succeed "," do
      %em BA Tango
    = succeed ".\u{a0}Susana" do
      %em El Tangauta
    = succeed ".\u{a0}Both" do
      %em Tangauta
  %p.paragraphHeader Corrections
  %p Gabriel emailed me to point out that in the Uruguay that I said that the population of Montevideo was 4 million. It is actually 1.5 million. The entire country is a bit less than four million. He also correctly pointed out that we were in Montevideo on the weekend of July 18, which is their Constitution Day, and that this could account for the reason that the city seemed so quiet.
  %p
    In my interview with Alejandra I quoted her saying she is "surrounded by the music" when she follows. She read this later, and told me it should be "surrenders to the music". Either way it makes sense to me. Sometimes she and I misunderstand each other. Last year I was looking at a map of the Malvinas, and I asked her how you say "sheep" in
    %em> castellano
    \. She said, "
    %em> barco
    ". Another time I asked her how you say "salesman", and she told me: "
    %em> marinero
    ".
  %p
    [Note: I have since learned that the woman I described as the mother of the Balmaceda brothers is not actually their mother. She is either their stepmother, or the
    %em novia
    of their father. Still not sure which.]
    %br/
    %br/
    We are off to Cordoba for a week. Chau.
  %p.paragraphHeader
    %em Trucho
  %p
    %em July 14, 2003:
    We went to Cordoba and Iguazu Falls last week. Cordoba is Argentina's second city. It sits in the middle of the
    = succeed "," do
      %em Pampas
    = succeed "," do
      %em El Arrabal
    %em gringo
    way of dancing tango that made me swear I was back in the States—and they spotted Alejandra and me as big city folk right away. I'm from the Mountain West, so it's not easy for me to feel like a sophisticate, but both here and in Salta that's what we were. After the Salta experience, where we became more or less celebrity guests every time we went to a milonga, we try to keep a low profile... but in Cordoba they were going to have a show with a bandoneon and tango singer, and the first thing the man with the microphone did was head straight for my hiding place in the corner. I won't go into the details. Let's just say it's never easy trying to be clever with a microphone in your face- especially when the conversation is taking place in castellano.
  %p
    We rented a car and drove around the
    %em Sierras de Cordoba
    Mountains a little, and then we flew to Iguazu Falls. Iguazu is a well-known tourist attraction in the north on the edge of Paraguay and Brazil. I was hoping to walk across the bridges and set foot in both countries just to say I'd done it, but since 9/11 easy border crossings seem to be a thing of the past, so I looked but couldn't touch. Paraguay supposedly has some terrorist activity, and the place did look a little dangerous from our viewpoint across the Parana River . The lady at the souvenir stand said don't go over- those Paraguayos are not to be trusted!
  %p Iguazu Park is a tropical forest with a huge cluster of spectacular waterfalls sitting in the middle. We stayed at a hotel right in the park. If you're the kind of person who likes your wilderness experience along with about thirty thousand other people, say in Yosemite Valley or the South Rim of the Grand Canyon in August, then Iguazu is for you. The park logo shows a colorful, smiling toucan bird with a large bright yellow beak. In reality, there are none—other than the wooden ones sold in the dozens of shops in the park. The helicopters that roar over the falls every minute of the day, and the power boats that roar up the river, have long since driven them over to Paraguay to live with the terrorists (who are much quieter and friendlier). It gets worse. Each evening at 6 p.m. we were sealed inside the hotel, to “protect the wildlife” until 8am, when we were awakened by the roar of the boats and choppers. Late the first night, sealed in the hotel, I looked out and saw lights flashing in the forest and around the falls. I asked about it, and they said there were special tours. For $80 you could go out into the park at night and shoot off flash bulbs.
  %p Airport architects must have designed the whole park infrastructure. This is the truth: you are NEVER allowed to touch the ground! They have a people mover type shuttle train that goes from the parking lot at the entrance and deposits everyone onto metal ramps that are set on pylons. The ramps are very similar to the ones used to board planes in airports, except the tops are cut off, so you can see out. You enter the ramps, and then move along at a the speed of the slowest person ahead of you, just like boarding an airplane. Except that people can't smoke boarding airplanes, and here people are smoking in front and behind. The entire park consists of a couple of miles of these ramps. You can see the forest around you, and they lead to some spectacular views of the falls, but the “lookout modules” are literally jammed with people. There are professional photographers on stepladders constantly yelling at people to get out of the way, so they can shoot customers pictures with the falls in the background. There is only one way to get out of the chutes, and that's with a pass. Travelers can buy different colored badges that run from the Cub for $30 up to the Shackleton Explorer for over $100. I was a little too timid for such things, but I did see people wearing bicycle helmets and life jackets being rowed away to adventure in inflatable rafts, as guides in Marlin Perkins outfits and loudspeakers entertained them with jungle stories.
  %p
    There are supposed to be monkeys, birds, and jaguars, but the only wildlife we saw was a small band of coatis that roam from the shopping arcade, to the hotel pool, to the snack bar at the
    %em Garganta del Diablo
    people mover station. Each little animal is fitted with a blue ear tag, and a large orange collar, and they are constantly followed by tourists with cameras. As I watched them scavenge I had a sudden pang of sympathy for
    %em Gavito
    and his pals as they ride the circuit from Canning, to
    = succeed "," do
      %em Nino Bien
    = succeed ".\u{a0}I" do
      %em El Beso
  %span.paragraphHeader
    %font{:color => "#333333"} ****
  %font{:color => "#333333"}
  %p
    So I was lying in the hotel room, working myself into a bad mood. Alejandra spends a good part of her time trying to keep me entertained so this doesn't happen, but she was having a tough time at Iguazu. She wasn't able to get the hotel to find us a little space with a CD player where we could dance (the first time in about 10 hotels we haven't been able to work out something), and I was getting tired of beating her at ping pong, so there wasn't a lot to do. I was thinking how I don't like
    %em trucho
    things. “
    %em> Trucho
    ” is a
    %em lunfardo
    word that means phony, and I learned about it first hand a couple of years back when the waitress at
    %em Porteño y Bailarin
    passed me a counterfeit $50 pesos note. I was thinking that there are some
    %em trucho
    things in tango as well, and about how I like to try to find things that are somewhat genuine if possible, like some of the old clubs and the people who dance in them. The
    %em Club Leales y Pampeanos
    in Avellaneda really isn't much to look at, but it's beginning to seem like home. Cacho keeps a separate non-smoking room for Nestor and Cristina and us, and the last time we were there I counted 14 other couples who came in to dance with us, and some others who just came in to watch. It's very friendly, and they like to give me mate. It's part of the show that I make a big face every time I drink it, and Cacho's standing joke now is that I will have to perform every time I'm there.
  %p
    They have some good dancers there, too. There's a man called “
    %em> El Gitano
    ”, (the Gypsy), and there is also our friend Nestor Serra, who is better than many of the downtown milongueros. Also a man called “
    %em> Pinocho
    ” (because they say he looks like the puppet Pinochio) and his wife Graciela are also great dancers. I’ve filmed them there in the club, and they have a great, energetic, and distinctive style that is fascinating to watch. [Note from 2004: Another couple from the club, Osvaldo y Coca, won the 2004 World Championship tango competition held recently in BsAs, which is something of an honor for Avellaneda] 
  %p “Milonguero” is a term that is used so much that it's hard to pin down. There is a group of older downtown dancers (the numbers decrease every year) that everyone knows, and who some people like to think of as the elite milongueros. A couple of them travel and teach, and a couple are known on the stage, but most of them just live in the milongas, and dance very good tango. I'm friends with some of them, I know some of the others casually through Alejandra, and I've filmed many of the best ones. I would say that while these guys are not necessarily the best dancers in the world, they are certainly among them. And there are many other milongueros who are not from the city center, but who dance just as well, and have as much experience as the downtown group—but in different places. They are spread across the suburbs, and many don't even know each other, except possibly by reputation. If you are in BsAs keep your eyes open, because these are the world's best, and there is a lot to learn from them that is not in any video or workshop.
  %p I try to keep an open mind, but the surprising thing for me is that so few of the famous names and performers that are talked about and idolized in other parts of the world seem to look very good on the dance floors in BsAs. Some of them are known, but many of the stars from the U.S. workshops wouldn't even be recognized. From what I've seen, they don't really seem to dance with much passion or confidence in the milongas. I don't know if they just aren't inspired unless there is a paying audience, or it's too crowded, or maybe all of the originality has just been choreographed out of them. Maybe they need to walk around so precisely and carefully all the time to protect their reputations, and there's no energy left for the music.
  %p
    The little man who is the secretary of
    %em Club Leales y Pampeanos
    loves me (I tip a lot). He's the one who took us upstairs to see the treasures he guards in his office. The other night he walked by and quietly gave me an old newspaper. I hadn't had a chance to read it, but when I was sittin' on the bed in Iguazu, thinkin' there was nothin' to do, I decided to look through it. It was a club newspaper,
    = succeed "," do
      %em La Carreta
    = succeed "\u{201d}.\u{a0}Alejandra" do
      %em Homenaje a Razzano
  %p There are all sorts of fancy clubs, theaters, and restaurants around BsAs that exploit famous tango names, but it's hard to know if any of those legendary people really even set foot in some of them. But here is a little hidden place on the side street in Avellaneda in which the biggest names in tango barely rate a mention in their monthly newsletter. The secretary wants us to come down in the day when there is better light in the dark office, so he can show us more of the history and papers of the club, and we're going to try to get down there before we leave. No one seems to go upstairs or have much interest in the history of the place, so it would be nice to get some of it written down before he is gone, and things just slip away unnoticed. For now, I think it's fairly certain that most of the big names in tango were intimately familiar with this little club where Gardel was a member. I'm sure they worked and played in the old room where the working people of Avellaneda still dance tango and sip mate today for $1peso.
  %p Notes and corrections In the last report I dumped all over Iguazu Falls, and now Alejandra has jumped all over me. She says, yes it's over commercialized, but it is also one of the wonders of the world, and most people love it. All true.
  %p
    I mentioned Jose Razzano in the last report. I admit I hadn't heard of him before, but by coincidence right after I sent the report, we were listening to 'D'Agostino Vargas
    %em 100 Anos
    CD, and there is a song on it called
    = succeed ".\u{a0}It's" do
      %em El Morocho y El Oriental
    = succeed ")" do
      %em El Morocho
    = succeed ")" do
      %em El Oriental
  %p I said in an earlier post that it hasn't been that long since knives were used to settle disputes in milongas, and that this was done within the lives and memories of people that are currently dancing. This came from a source that has been in the milongas forever, but who also sometimes tends to embellish. I asked a more reliable source about this, Nestor Serra, who has been dancing in some rough places since the 50s, and he said he has seen some shoving at times, but never a knife fight.
  %p.paragraphHeader
    %em El Pial
  %p
    %em August 16, 2003:
    We went to this neighborhood club in
    %em Flores
    mostly because it happens to be just two blocks down the street from where Alejandra lived as a child. The milonga at
    %em El Pial
    is advertised to start at 10pm., so we walked around her old barrio for a while and she showed me the places she used to ride her bike when she was a little girl. At 10:15 we went to the club for our early clean air start. They were finishing up a class, but then they began playing all kinds of stuff like salsa, and pop music, and Gotan Project. We sat and listened, and watched people wander in. Everyone was very friendly- Horacio the organizer came by and talked to us for a while, and we saw some people from downtown, but for some reason they didn't seem to want to start the music. Finally, more than an hour later they started tango, but the music they started with was so bad I didn't want to dance. They began with some jumpy Troilo without Fiorentino, and then followed it with something worse I couldn't identify, where the orchestra kept sitting back and letting the singer wander all over the place with his voice. People were wandering all over the floor as well, trying to stay with the music. Maybe I just have different taste, but it seemed to me that this was bad DJing. Fringe stuff is okay sometimes, but why start the milonga with it? All the guy had to do is go downtown and buy a CD from Daniel or Natu and the night would have started out just fine. By then it was after 11:30 and the air was getting bad, so we left. As we were walking out, we ran into
    = succeed ".\u{a0}I" do
      %em El Gallego
    %em Glorias Argentinas
    the next night.
  %p.paragraphHeader
    %em Glorias Argentinas
  %p
    The next night we went to
    %em Mataderos
    to meet
    %em El Gallego
    in
    = succeed ".\u{a0}If" do
      %em Glorias Argentinas
    %em Flores
    and
    = succeed "," do
      %em Floresta
    = succeed ".\u{a0}This" do
      %em Mataderos
    %em las pampas
    (the fertile sea of grass that surrounds BsAs that gives Argentina much of its wealth). This means Gauchos, then
    = succeed "," do
      %em compadritos
    = succeed "," do
      %em corrales
  %p
    %em El Gallego
    and Gilda are great people. “
    %em> El Gallego
    ” refers to Jorge's Spanish origins, and it may be a bit of a joke, because for Argentines, people from this part of Spain are considered a bit low and brutish, and Jorge is the most elegant guy in the milongas. We got a table with some champagne, and Alejandra’s friend Carlitos showed up and joined us. We know Carlitos from downtown. He is a professional tango singer, and it turns out he was there to perform. Before Carlitos, they introduced the lady sitting alone at the table next to us, and it was Beba Pugliese, Osvaldo's daughter. So when Carlitos was singing people kept coming by to pay respects to Beba. It wasn't really Beba's fault, but finally Alejandra told them to quiet down. Before he sang, Carlitos seemed a little down, but after he was pumped, and he came back to the table, put his hands on our shoulders and said, “We have friends, music, dancing, champagne, what more could there be?” Exactly! And it was a great night. Jorge (
    %em> El Gallego
    ) and I got to be friends, and I was able to film him dancing. He has to be the best dancer of milonga in the world. He's a very elegant lean man in his sixties, who moves like he's twenty years old. His posture is perfect, and when he and Gilda dance, his feet move so fast that you can barely see them. He has the smooth, quick style of Fred Astaire- he really does look that good. He said he has been dancing tango for 54 years, since he was 8 years old!
  %p
    I've been in a bit of a tango slump since Iguazu, but I was having a great time with Carlitos, and
    = succeed ".\u{a0}Every" do
      %em El Gallego
    = succeed ")," do
      %em Amarras
  %p  
#linkBox{:align => "center"}
  %a{:href => "13celia.htm", :target => "_top"} &lt;  Back
   
  %font{:color => "#000000"}
    | 
    = succeed "\u{a0}" do
      %a{:href => "1tc_title.htm", :target => "_top"} Chapter Index
    %font{:color => "#000000"} | 
  %a{:href => "../index.htm", :target => "_top"} Home Page 
  %font{:color => "#000000"} | 
  %a{:href => "15tete.htm", :target => "_top"} Next  &gt;
#footer
  %p
    %span.chapter
      %font{:color => "#000033"} Chapter 1 |
    %font{:color => "#000033"}
      %font{:face => "Georgia, Times New Roman, Times, serif", :size => "-1"} Page 14
