---
title: The essence of tango
chapter: ch2
slug: 17essential
date: 2005-04-17
---
#header.secretHead
  .subHeader{:align => "left"}
    %span.chapter Chapter 2 |
    %span.headerTitle Secrets of the Milongueros
.content
  %p.paragraphHeader
    %br/
    The Essential Tango
  :markdown
    On this page we'll look more closely at  what separates tango from
    other types of music and  dancing.
    As an experiment, put on some tango music, relax, maybe have a drink,
    and listen.
    Something like Di Sarli’s *A la Gran Muñeca*, *La Yumba* would be good…
    but almost any of the rhythmic tangos from the Golden Age orchestras
    will work.


  %div{:align => "center"}
    %img.picborder{:alt => "Ricardo Tanturi Tango Orchestra", :height => "194", :src => "2_pics/17essential/image004.jpg", :width => "340"}/
    %img.picborder{:alt => "Rudolfo Biaggi Tango Orchestra", :height => "194", :src => "2_pics/17essential/image002.jpg", :width => "329"}/
    %br/
    %img.picborder{:alt => "Canaro Tango Orchestra", :height => "197", :src => "2_pics/17essential/image006.jpg", :width => "335"}/
    %img.picborder{:alt => "Alfredo De Angelis Tango Orchestra", :height => "197", :src => "2_pics/17essential/image008.jpg", :width => "338"}/
  %p.pictureCaption
    Tango music is dominated by bandoneons. Here are four of the great Golden Era Orchestras:
    %br/
    Top: Tanturi, Biaggi. Bottom: Canaro, De Angelis

  :markdown
    We're looking for the  thing that makes tango different -- and we
    really don't have to look very far.
    A quick glance at photos of the great orchestras that have defined
    tango  the last 80 years reveals the answer:  they were dominated by
    bandoneons.

    The crowded conditions discussed earlier affected tango dancing in
    every way, from the embrace, and the ways of stepping and expressing
    cadence, to the very nature of tango movement.
    But tango is more than just moving in some disciplined way.
    It is moving in a disciplined way that expresses music… and the unique
    music of Golden Era tango, especially the music of the bandoneon,
    makes up the second part of the equation that defines the way tango
    is danced.

  %div{:align => "center"}
    %img.picborder{:alt => "Anibal Troilo y Orquesta", :height => "282", :src => "2_pics/17essential/image010.jpg", :width => "463"}/
  %p.pictureCaption Anibal Troilo
  %p.pictureCaption
  :markdown
    Tango orchestras were unusual because they had 4 or 5  loud, almost
    abrasive sounding instruments that made up about half of the orchestra.
    It's a musical force that needs to be  dealt with.
    Click on the link below to listen to *La Gran Muñeca*.
    *Muñeca* begins with a driving rhythm carried by the bandoneon --
    the best way I can describe it in words is a solid
    *CHUNK - CHUNK - CHUNK* sound.
    Di Sarli’s musicians hit every other beat hard with it, and it doesn’t
    take any musical training to tell you that this is your cue.
    If you want to express this music, you need to step along with this
    driving beat.
    Your foot should strike the floor with the hard *CHUNK*
    of Di Sarli’s bandoneons.

  %div{:align => "center"}
    %img{:alt => "Carlos Di Sarli", :height => "143", :src => "2_pics/17essential/image012.jpg", :vspace => "6", :width => "150"}/
  %br/
  .music{:align => "center"}
    %font{:size => "+1"}
      %em
        %font{:size => "+1"} A LA GRAN MUNECA
      %font{:size => "+1"} Carlos Di Sarli orchestra
      %em
    %object{:data => "../chapt_4music/xspf_player_slim.swf?playlist_url=muneca.xspf", :height => "16", :type => "application/x-shockwave-flash", :width => "540"}
      %param{:name => "movie", :value => "../chapt_4music/xspf_player_slim.swf?playlist_url=muneca.xspf"}/
    %br/
    %br/
  %p

  :markdown
    This, of course, is the beginning of tango dancing.
    Now here is the interesting part: there are lots of different ways
    for your foot to strike the floor.
    (Milongueros often use the word “*pisar*” to discuss the way the
    foot hits the floor).
    You can stroll along, or walk on tiptoe, or sort of creep like a cat.
    You can bounce, or shuffle, or even jump.
    All might be ways of expressing music, and I suppose they may be used
    in different types of dancing.
    But this is special music from a special instrument.
    Try strolling casually to this music, or creep along smoothly like a
    cat, or float like Fred Astaire, and it doesn’t seem right.
    What does Di Sarli want? The *CHUNK* of the Bandoneon is the clue.
    It says step hard, and step into the floor.

    This heavy step into the floor is the step of the milongueros that
    was described back in the
    = succeed "It\u{2019}s" do
      %a{:href => "2basics.htm"} first picture series.
    *CHUNK* into the floor with a slight sliding/grinding motion, like
    a milonguero grinding out a cigarette he has just dropped onto the
    sidewalk in *Pompeya*.

    Now if we keep listening to Di Sarli, we realize a couple of more things.
    Di Sarli’s specialty is switching around, so sometimes strings or
    piano take up the cadence of the bandoneon, and sometimes the
    *CHUNK* beat goes away completely.
    This has some interesting implications for dancing tango, and we'll
    discuss it more in Chapter 4, but for now, listen for a lighter hit
    between the heavy beat of the front row of bandoneons playing in unison.

    The rhythm should sound something like this:
    %em
      %strong CHUNK - chunk - CHUNK - chunk -CHUNK - chunk

  :markdown
    You should hear the heavy *‘CHUNK’* of the bandoneon, with a lighter
    *‘chunk’* in between.
    (This *strong-weak* pattern is why people in the clubs sometimes use
    the term “*dos por cuatro*” instead of “tango”.
    They are referring to the “two-four” musical time of the music.)
    This pattern is in most of the classic dance tangos, and it can be
    used for an important exercise:

    First try to get used to feeling the weak beat of the ‘*strong-weak*’
    cadence.
    When listening to tango, try tapping or snapping the fingers on the
    weak beat, instead of the strong one.
    This may seem odd at first:
    *CHUNK 'snap' CHUNK 'snap' CHUNK 'snap'*.
    It takes awhile to get accustomed to it, but it’s easy to practice
    anytime you listen to tango, even in the car.
    It is important to become aware of this weak beat, because using it
    is one of the secrets to expressing the music -- and also of staying
    centered.
    When you are used to marking the weak beat with a '*tap*' or a
    '*snap*', then you are ready for the next exercise:

    Pretend your ankles make a sound like a counter ticking exactly when
    they brush by each other as you walk:
    *STEP 'tik' STEP 'tik' STEP 'tik'*.
    Each ‘*tik*’ is exactly when your ankles pass, and each ‘*STEP*’ is
    when your foot hits the floor.
    Don’t worry too much about technique, but try to walk so your foot
    strikes the floor exactly on the heavy ‘*CHUNK*’ of the bandoneons.
    This should be intuitive, but also try to have your ankles pass each
    other exactly on the weaker
    = succeed "\u{2019}" do
      %em ‘chunk
    = succeed ").\u{a0}" do
      %em STEP snap STEP snap STEP snap

    Doing this exactly with the music, and using good technique is called
    being *"en el compás"*.
    Good
    = succeed ")," do
      %em bien parado
    = succeed ")," do
      %em pisa bien
    = succeed "," do
      %em en el compás

  %p.paragraphHeader
    %font{:color => "#333333"} ****
  %div{:align => "center"}
    %img.picborder{:alt => "Osvaldo Pugliese Tango Orchestra", :height => "227", :hspace => "5", :src => "2_pics/17essential/image013.jpg", :width => "329"}/
    %img.picborder{:alt => "Juan D'Arienzo Tango Orchestra", :height => "227", :hspace => "5", :src => "2_pics/17essential/image015.jpg", :width => "329"}/
  %p.pictureCaption Two more giants of tango: Osvaldo Pugliese, and Juan D’Arienzo (my hero)
  %p
  :markdown
    The above *compás* exercise also works great with D’Arienzo.
    Try it with “*Nueve de Julio*” or “*El Cencerro*” (the “Cowbell”).
    I used to think the hypnotic, relentless *compás* of the bandoneon
    in *Cencerro* was a train, but after I learned the title, I realized
    it expresses the cadence of cows walking.
    A lot of tango is about horses, and gambling.
    “*Por Una Cabeza*” (a song that Gardel made famous around the world)
    means “By a Head”.
    It’s a song where the guy keeps losing in love, like a racehorse
    losing by a head (the English expression is “by a nose”).
    I also used to think D’Arienzo’s “*El Flete*” had something to do
    with delivering cargo, but then I learned that it’s slang for a fast
    racehorse.
    We run near the *hipodromo* in *Palermo*,
    %em Palermo Hipodromo
    called “
    %em> El Yacaré
    ”.
    This D’Agostino tango is very popular.
    It’s played in the milongas all the time, and it begins like this:
  %blockquote
    %p
      %em
        Es Domingo, Palermo resplandece de sol,
        %br/
        cada pingo en la arena, llevara una ilusion
        %br/
        en las cintas, los puros alineados estan.
    %p
      %em
        It’s Sunday in Palermo, resplendent with sun,
        %br/
        each horse on the track will carry an illusion [hope of victory]
        %br/
        Behind the tape, the puros are in a line [in a line they are].
  :markdown
    What a great picture!
    (The Argentines to have a lot of different words for “horse” besides
    “*caballo*”.
    Here they use “*pingo*” and “*puro*”.)
    Vargas goes on to describe the race, and how the people cheer on a
    famous jockey called “*Yacaré*” (a *yacaré* is like a small alligator,
    and it’s a nickname that’s sometimes given to people from tropical
    northern provinces like *Missiones*.
    This *castellano* Spanish, and if you go  to good milongas a lot,
    you'll hear this song all the time.
    Sing the beginning to yourself as you dance, and think about a sunny
    day and fast Argentine horses in *Palermo*.

  %p.paragraphHeader
    %font{:color => "#333333"} ****
  :markdown
    When you look closely at our instinctive connection to rhythmic sounds,
    it’s sort of mysterious.
    What does physical movement have to do with sound vibrations in the air?
    In its most basic form, a burst of sound vibration separated by equal
    intervals of time can be expressed by clapping the hands together, or
    by stamping the feet.
    For some reason, it’s part of our nature.
    Even babies who can’t communicate verbally can keep time to music.
    Is it somehow connected to our mother’s rhythmic heartbeat in the womb?
    (Calo’s “*Al Compás del Corazon*” means “The Beat of the Heart”, and
    its cadence does seem like a human heartbeat.)
    Human infants can sense rhythm, but do other animals have it?
    It’s an interesting question.
    Maybe it’s part of what makes us human.

  %p.paragraphHeader
    %font{:color => "#333333"} ****
  :markdown
    Well, that’s the end of Chapter Two.
    The reports from 2005 are in Chapter Three.
