---
layout: rick
title: Tango and Chaos in Buenos Aires

---
#nav
  = image_tag "IndexHi.jpg", :alt => "Carlos and Nelida at Celia's",
    :height => "262", :width => "350"
  #menu
    %p
      %span.style36
        %span.style24
          = link_to "ch1/1tc_title", :class=>"style14 style4" do
            %span.style5 CHAPTER ONE
            %br/
            %em
              %span.style47.style35 Chaos and Revolution
          %br/
          %span.style46.style5 Stories from 2001

        %p
          = link_to "ch2/1secrets_title", :class=>"style14 style4" do
            %span.style5 CHAPTER TWO
            %br/
            %em
              %span.style47.style35 Secrets of the Milongueros
          %br/
          %span.style46.style5 An introduction to Argentine tango

        %p
          = link_to "ch3/1search_title", :class=>"style14 style4" do
            %span.style5 CHAPTER THREE
            %br/
            %em
              %span.style47.style35 Searching for the Modern Style
          %br/
          %span.style46.style5 A brief history,  and some  women's technique

        %p
          = link_to "ch4/1music_title", :class=>"style14 style4" do
            %span.style5 CHAPTER FOUR
            %br/
            %em
              %span.style47.style35 Cracking the Code
          %br/
          %span.style46.style5 If you can't hear it, you can't dance it

        %p
          = link_to "ch5/1video_title", :class=>"style14 style4" do
            %span.style9 CHAPTER FIVE
            %br/
            %em
              %span.style35 Video of the Best
          %br/
          %span.style46.style5 If you can't see it, you can't dance it

        %p
          = link_to "ch6/1school_title", :class=>"style14 style4" do
            %span.style5 CHAPTER SIX
            %br/
            %em
              %span.style35 Back to School
          %br/
          %span.style46.style5 A practical guide to social tango

        %p
          = link_to "comments_updates_new", :class=>"style14 style4" do
            %em Comments &amp; Updates

        %p
          = link_to "compliments", :class=>"style14 style4" do
            %em Compliments

#content
  .style34{:align => "right"}
    \-"When you dance tango you must give everything.
    %br/
    If you can't do that, do not dance."
    %br/
    \-Ricardo Vidort
  %p
  .style34{:align => "right"}
    %em "El Tango te Espera."  
    %br/
    \-Anibal Troilo


